<header>
  <nav class="test-app-nav">
    <ul class="test-app-nav-list-inline">
      <li><LinkTo @route="power-select">Power Select Samples</LinkTo></li>
      <li><LinkTo @route="helpers-testing">Helpers Testing</LinkTo></li>
      <li><LinkTo @route="helpers-testing-single-power-select">Helpers: Single Power Select</LinkTo></li>
    </ul>
  </nav>
</header>
<main>
  {{outlet}}
  <BasicDropdownWormhole />
</main>