*,
*::after,
*::before {
  box-sizing: border-box;
}

.test-app {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 1em;

  h1 {
    line-height: 1;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  /* KEEPING FOR REFERENCE TEMPORARILY (Changes already made to base styles & variables)
  Default styles fails contrast checks
  .ember-power-select-placeholder {
    // Fix by removing default color style? => $ember-power-select-placeholder-color: #999999 !default;
    color: inherit;
    opacity: 0.6; // Fade opacity slightly as alternative to setting fixed color
  }
  */

  /* 
  Uses an actual input element unlike "ember-power-select-placeholder" which uses a span (Only visible when dropdown is open)
  .ember-power-select-search-input {
    color: inherit;

    &::placeholder {
      color: inherit;
      opacity: 0.6;
    }
  }
  */

  /* 
    Currently most elements inherit text color. This is likely desireable (consumers should have responsibility for 
    setting sufficient color contrast which works with their page designs) except in the case of the disabled style 
    in which the background is set but not the foreground and the placeholder text which is set to a fixed color that 
    has insufficient contrast with a white background.
  */
  .parent-text-color-test {
    color: darkblue;
  }
}

.ember-power-select-trigger.mock-focus {
  /* Temporary for testing */

  /* stylelint-disable-next-line at-rule-no-unknown */
  @extend .ember-power-select-trigger, :focus;

  /* browser default styling: */
  outline: -webkit-focus-ring-color auto 1px;
}

.test-app-nav {
  display: flex;
  width: 100%;
  background-color: aliceblue;

  .test-app-nav-list-inline {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
      }
    }
  }
}

.test-app-section {
  width: 100%;

  @media (width >= 48rem) {
    width: 50%;
    margin: 0 auto;
  }
}

.test-app-power-select {
  margin-bottom: 2rem;
}

.shw-divider {
  margin: 3rem 0;
  border: none;
  border-top: 2px solid #ccc;
}

.shw-divider-level-2 {
  border-top: 2px dotted #ddd;
}

.test-app-power-select-narrow {
  width: 50%;
}

.test-app-note {
  margin: 1rem auto;
  width: 100%;
  background-color: aliceblue;
  border: 3px solid black;
  border-radius: 5px;
  padding: 1rem;
}

.test-app-button {
  padding: 0.5em;
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-content: stretch;

  &:hover {
    cursor: pointer;
  }
}
