.test-app {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 0;

  h1 {
    line-height: 1;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.test-app-section {
  width: 100%;

  @media (width >= 48rem) {
    width: 50%;
    margin: 0 auto;
  }
}

.test-app-power-select {
  margin-bottom: 1rem;

  p {
    font-weight: 700;
  }
}
